<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/stylesheets/main.css">
    <title>Assignment</title>
</head>

<body>

    <div class="dashboard-container">
        <nav class="navbar navbar-expand-lg justify-content-between py-2" id="dashboardNav">
            <a href="/" id="dashboardTag">
                Dashboard
            </a>
            <button class="btn btn-danger"><a href="/logout" class="d-inline-block" id="logoutbtn">Sign Out</a> </button>
        </nav>

        <main class="content">
            <div class="container" id="mainBox">
                <h1>
                    Welcome, <span>John Doe</span>
                </h1>
                <h4>
                    Email: <span class="fs-6">xxxxx@xxxxx.com</span>
                </h4>
            </div>
        </main>

        <footer class="d-flex flex-wrap justify-content-center border-top">
            <p class="fw-bold text-white me-5 pt-2">© 2024 Company, Inc</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>